@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .skeleton {
    background-image: linear-gradient(
      90deg,
      #ecebeb 0px,
      #f4f4f4 40px,
      #ecebeb 80px
    );
    background-size: 600px;
    animation: shine-lines 1.6s infinite linear;
  }

  @keyframes shine-lines {
    0% {
      background-position: -100px;
    }
    40%, 100% {
      background-position: 140px;
    }
  }
}
